img.logo(src="/assets/images/logo.jpg", alt="Smile Identity")

h1 Smile Identity | SF Bay Area | Full Stack Engineer

p 
  | Smile Identity solves hard problems of identity for high value transactions
  | in low-trust environments. We are backed by Vinod Khosla, 500 Startups and CRE Venture Capital.

h2 The Role

p 
  | We are looking for someone with a passion for server side development who
  | wants to be a key part of the team designing a server architecture from the ground up.
  | We need someone flexible that can code in a bunch of web technologies while
  | dealing with the inevitable day to day issues of bringing a new service to life.
  | The job is to implement and then continuously improve our API's,
  | enterprise facing web, server security, and cost per transaction.

h2 Requirements

ul
  li You love to code.
  li You have coded a variety of languages/technologies; in particular heroku,
    | sql, rails, js, html, css, python.
  li You are comfortable with combining web and compiled languages in a unified system.
  li You understand security, the need to protect our client's privacy and the integrity of our data.
  li You understand the need for instrumenting. We need metrics for everything.
  li You are highly entrepreneurial. You take the initiative to solve problems as they arise, love to troubleshoot, and are flexible.
  li You are a great collaborator. You know that startups are a team sport. You speak your mind but also listen to others.
  li You can take the heat. You are organized, do well under pressure, and can prioritize multiple tasks.
  li You have been part of a team that launched and maintained systems and APIs at scale.
  li You have worked with AWS services and components and have a deep familiarity with Linux.
  
h2 Preferred Qualifications

ul
  li You were a SysAdmin in a previous life.
  li Some C/C++ background.
  li Some ML background.
  li You are a seeker of truth and get excited about expanding access and trust in 
    | underserved markets around the world.

h2 Qualified &amp; interested?

p Email resume to 
  a(href="mailto:talent@smileidentity.com") talent@smileidentity.com
