doctype html
html(lang='#{ site.language }')
  != partial('../_partials/head')

body
  != partial('../_partials/navbar')

  .container
    .page-header
      h1.text-center Contact

    .row
      .col-md-2
      .col-md-8
        != yield

  != partial('../_partials/footer')
