.jumbotron
  .container
    h1 We help developers 
      br
      span.bold solve identity.
    .bottom
      .icon.icon-arrow

.container-fluid
    != partial('_partials/section_mission')
    
    != partial('_partials/section_how')
    
    != partial('_partials/section_contact')
    
    != partial('_partials/section_join')
