footer
  .container-fluid
    .row#footer.section.dark
      p &copy; Smile Identity 2017

//- script(src='/assets/scripts/vendor/jquery.min.js')
//- script(src='/assets/scripts/vendor/bootstrap.min.js')
script(src='assets/scripts/main.js')

if google_analytics
  != partial('_partials/google_analytics')
