footer
  .container-fluid
    .row#footer.section.dark
      .container
        .col-md-6
          p.copy &copy; Smile Identity 2017
          p join us
          

//- script(src='/assets/scripts/vendor/jquery.min.js')
//- script(src='/assets/scripts/vendor/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js')
script(src='assets/scripts/main.js')

if google_analytics
  != partial('_partials/google_analytics')
