// Remove the "navbar-fixed-top" class if you don't want it fixed at the top of
// the document.

.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      a.logo(href='/')
        .icon.icon-lock
      ul.nav.navbar-nav
        li
          a(href='#') join us
    // /.navbar-collapse 
