section#contact.row.section.light
  .container
    .col-md-6
      h2 Trust Matters
      p 
        | Trust helps you scale, delighting more users and offering more valuable services.
        | Our tools build trust. 
      p 
        | Get in touch to learn more: 
      
      form.contact-form
        input.form-control(placeholder="Submit your email")
        a.btn.btn-primary(role='button', href='#') Send
    .col-md-6
      .trust
