section#mission.row.section.light
  .container
    .col-md-12
      p
        span.blue.bold  Smile Identity&nbsp;
        | solves user identification across 
        | Android devices, for companies scaling 
        span.bold high volume, high value&nbsp;
        | transactions in 
        span.underline low trust&nbsp;
        | environments.
