section#contact.row.section.light
  .container
    .col-md-6
      h2 Trust Matters
      p 
        | Trust helps you scale, delighting more users and offering more valuable services.
        | Our tools build trust. 
      p 
        | Get in touch to learn more: 
      
      .form-wrapper
        form.contact-form
          input.form-control.email-input(type='email', name='email', placeholder="Submit your email")
          input.btn.btn-primary(type='submit', value='Send')
        .success-message
          p Thanks! We will be in touch shortly.
    .col-md-6
      .trust
