section#how.row.section.dark
  .container
    .col-md-12
      h2 How We Do It
    
    .col-md-4
      .icon-wrapper
        .icon.icon-collection
      h3 Collection
      p Digitize KYC documents seamlessly
    
    .col-md-4
      .icon-wrapper
        .icon.icon-dedupe
      h3 De-Duplication
      p Merge duplicate profiles and prevent fraud
        
    .col-md-4
      .icon-wrapper
        .icon.icon-auth
      h3 Authentication
      p Confirm transactions with the highest confidence
