section#join.row.section.light
  .container
    .col-md-12
      h2 Join Us
      p 
        | We are looking for people with a passion for solving hard problems with software,
        | who want to be part of a team designing a cloud service for global markets from the ground up.
      p 
        | Smile Identity is backed by Vinod Khosla, 500 Startups and CRE Venture Capital.
      
      p
        | Email your resume to 
        a(href='mailto:talent@smileidentity.com') talent@smileidentity.com
      //- a.btn.btn-primary(role='button', href="#") See open positions
