section#mission.row.section.light
  .container
    .col-md-12
      p
        span.blue.bold  Smile Identity 
        | solves user identification across 
        | Android, for companies scaling 
        span.bold high volume 
        | or 
        span.bold high value 
        | transactions in 
        span.bold low trust 
        | environments.
