section#how.row.section.dark
  .container
    .col-md-12
      h2 How We Do It
    
    .col-md-4
      .icon-wrapper
        .icon.icon-collection
      h3 Collection
      p 
        | Donec id elit non mi porta gravida at eget metus.
    
    .col-md-4
      .icon-wrapper
        .icon.icon-dedupe
      h3 De-Duplication
      p 
        | Donec id elit non mi porta gravida at eget metus.
        
    .col-md-4
      .icon-wrapper
        .icon.icon-auth
      h3 Authentication
      p 
        | Donec id elit non mi porta gravida at eget metus.
