//
// Base
// --------------------------------------------------------


body {
  font-family: 'Montserrat', sans-serif;
}

* {
  &:-moz-placeholder {
		font-size: 14px;
		font-style: italic;
		font-weight: 300;
  }
  &:-ms-input-placeholder {
		font-size: 14px;
		font-style: italic;
		font-weight: 300;
  }
  &::-webkit-input-placeholder {
		font-size: 14px;
		font-style: italic;
		font-weight: 300;
  }
}

pre {
  background-color: #f8f8f8
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

a {
  color: @blue;

  &:hover {
    color: @light-blue;
  }
}

h2,
h3 {
  font-size: 24px;
  margin-bottom: 26px;
}

h2 {
  @media (min-width: @screen-sm-min) {
    font-size: 34px;
  }
}

p {
  font-size: 18px;
  font-weight: 300;
}

.blue {
  color: @blue;
}

.btn {
  text-transform: uppercase;
  font-size: 16px;
}

.btn-primary {
  background-color: @blue;
  border-color: @blue;
  transition: background-color .3s ease;

  &:hover {
    background-color: @light-blue;
    border-color: @light-blue;
  }
}
