.icon {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: url('../images/sprite@2x.png');
    background-size: 170px 160px;
  }
}

.icon-dedupe{background-position:-1px -1px;width:113px;height:96px}
.icon-auth{background-position:-116px -1px;width:53px;height:83px}
.icon-collection{background-position:-1px -99px;width:75px;height:60px}
.icon-lock{background-position:-78px -99px;width:34px;height:46px}
.icon-arrow{background-position:-114px -99px;width:43px;height:25px}
