.icon {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: url('../images/sprite@2x.png');
    background-size: 192px 166px;
  }
}

.icon-dedupe{background-position:-1px -1px;width:113px;height:96px}
.icon-collection{background-position:-116px -1px;width:75px;height:60px}
.icon-auth{background-position:-1px -99px;width:40px;height:66px}
.icon-lock{background-position:-43px -99px;width:34px;height:46px}
.icon-arrow{background-position:-116px -63px;width:43px;height:25px}
