//
// Styles
// --------------------------------------------------------

// Header

body.scrolled .navbar-inverse {
  background: @black;
}

.navbar-inverse {
  background: transparent;
  border: none;
  padding: 16px 0;
  transition: background .3s ease;

  .navbar-header {
    width: 100%;
    margin: 0;
  }

  .logo {
    float: left;
  }

  ul.nav {
    float: right;

    a {
      font-weight: 300;
      font-size: 24px;
      color: #fff;
    }
  }
}

// Hero section
.jumbotron {
  // height: ~"calc(100vh - @{body-padding-top})";
  height: 100vh;
  margin-bottom: 0;
  text-align: center;
  background-color: @black;
  background-image: linear-gradient(225deg, @black, rgb(150,150,150));
  // .diagonal-gradient(@black, rgb(150,150,150));
  color: #fff;
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 96%;
    margin: auto;
    transform: translate(0, -50%);
    font-size: 44px;

    @media (min-width: @screen-sm-min) {
      font-size: 60px;
    }
  }

  .bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    .icon {
      margin: 0 auto;
      cursor: pointer;
    }
  }
}


// Sections

.section {
  padding: 40px 0;
  text-align: left;

  @media (min-width: @screen-sm-min) {
    padding: 120px 0;
  }

  &.dark {
    background: #000;
    color: #fff;
  }

  &.light {
    background: #fff;
    color: #4B4B4B;
  }
}

// mission section

#mission {
  p {
    font-size: 24px;

    @media (min-width: @screen-sm-min) {
      font-size: 34px;
    }
  }
}

// how section

#how {
  background: @black;
  text-align: center;

  .col-md-4 {
    margin: 40px 0 60px;

    &:last-child {
      margin-bottom: 40px;
    }

    .icon-wrapper {
      height: 125px;
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .icon {
    margin: 0 auto;
  }
}

// contact section

#contact {
  .gradient(#fff, #efefef);
  color: #6F6F6F;

  h2 {
    color: #000;
  }

  .form-wrapper {
    position: relative;
  }

  .contact-form {
    opacity: 1;
    transition: opacity .3s ease;

    .btn,
    input {
      display: inline-block;
      vertical-align: top;
    }

    input {
      width: 100%;
      margin-bottom: 10px;

      @media (min-width: @screen-xs-min) {
        width: auto;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }

  .form-wrapper .success-message {
    opacity: 0;
    transition: opacity .3s ease;
    top: 0px;
    position: absolute;
    z-index: -1;
  }

  .form-wrapper.success {
    .success-message {
      opacity: 1;
      position: static;
    }

    .contact-form {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }

  @media (min-width: @screen-md-min) {
    .trust {
      background-image: url(../images/trust.png);
      background-repeat: no-repeat;
      background-size: 264px 289px;
      height: 289px;
      width: 264px;
      margin: 0 auto;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url(../images/trust@2x.png);
      }
    }
  }
}

// join section

#join {
  color: #6F6F6F;
  text-align: center;

  h2 {
    color: #000;
  }

  a {
    margin-top: 30px;
  }
}

// Footer

#footer {
  p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;

    &.copy {
      opacity: .8;
    }
  }
}

// Jobs page
body.jobs {
  section {
    padding: 40px;
    max-width: 1020px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 24px;
  }
}
