/* glue: 0.11.1 hash: a55e7bc5f7 */
        .icon_dedupe,
.icon_collection,
.icon_auth,
.icon_lock,
.icon_arrow {
            background-image: url('sprite_assets.png');
            background-repeat: no-repeat;
        }
        
        .icon_dedupe {
            background-position: -1px -1px;
            width: 113px;
            height: 96px;
        }
        
        .icon_collection {
            background-position: -116px -1px;
            width: 75px;
            height: 60px;
        }
        
        .icon_auth {
            background-position: -1px -99px;
            width: 40px;
            height: 66px;
        }
        
        .icon_lock {
            background-position: -43px -99px;
            width: 34px;
            height: 46px;
        }
        
        .icon_arrow {
            background-position: -116px -63px;
            width: 43px;
            height: 25px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .icon_dedupe,
    .icon_collection,
    .icon_auth,
    .icon_lock,
    .icon_arrow {
                background-image: url('sprite_assets.png');
                -webkit-background-size: 192px 166px;
                -moz-background-size: 192px 166px;
                background-size: 192px 166px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .icon_dedupe,
    .icon_collection,
    .icon_auth,
    .icon_lock,
    .icon_arrow {
                background-image: url('sprite_assets@2x.png');
                -webkit-background-size: 192px 166px;
                -moz-background-size: 192px 166px;
                background-size: 192px 166px;
            }
        }
        